body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: lightgray;
}

head{
  background-color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.navbar{
  display: flex;
  justify-content: left;
  background-color: white;
  align-items: left;
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 100px;
}

.navbar ul{
  list-style: none;
}


